#container {
    margin: auto;
  }
  
  .grid-item {
    display: inline-block;
    height: 250px;
    margin: 5px;
    overflow: hidden;
    text-align: center;
    width: 250px;
  }
  
  .isotope-pager .pager {
    display: inline-block;
  }
  