.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




#card1{
  position: absolute;
  margin-top: 140px;
  margin-left: 100px;
  z-index: 5;
  width: 200px;
  height: 130px;
}

#card1 p{
  padding: 10px;
}

.card-footer bg-black{
  margin-top: 100px;
} 

.boder-round {
  border: 2px solid border;
    
}



.bar-chart {
  position: relative;
  width: 100%;
  margin-top: 15px;
  padding-bottom: 1px;
}
.bar-chart > .legend {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  margin-bottom: -45px;
  border-top: 1px solid #000;
}
.bar-chart > .legend > .label {
  position: relative;
  display: inline-block;
  float: left;
  width: 25%;
  text-align: center;
}
.bar-chart > .legend > .label:before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 1px;
  height: 8px;
  background-color: #000;
  margin-top: -8px;
}
.bar-chart > .legend > .label.last:after {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: auto;
  content: '';
  width: 1px;
  height: 8px;
  background-color: #000;
  margin-top: -8px;
}
.bar-chart > .legend > .label h4 {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.bar-chart > .chart {
  position: relative;
  width: 100%;
}
.bar-chart > .chart > .item {
  position: relative;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  color: #fff;
  text-transform: uppercase;
}
.bar-chart > .chart > .item > .bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ff4081;
  z-index: 5;
}
.bar-chart > .chart > .item > .bar > .percent {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  line-height: 40px;
  padding-right: 12px;
  z-index: 15;
}
.bar-chart > .chart > .item > .bar > .progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #3e50b4;
  z-index: 10;
}
.bar-chart > .chart > .item > .bar > .progress > .title {
  display: block;
  position: absolute;
  height: 40px;
  line-height: 40px;
  padding-left: 12px;
  letter-spacing: 2px;
  z-index: 15;
}
 

